.detalhe-1 {
    bottom: 17%;
    left: 6%;
    width: 20%;
}

.detalhe-2 {
    top: 5%;
    left: 10%;
    width: 10%;
}

.detalhe-3 {
    top: 5%;
    right: 10%;
    width: 15%;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveYfast {
    10% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveDiagonal {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10px, -10px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes moveZoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.img-animacao.move-up-down {
    animation-name: moveUpDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img-animacao.move-x {
    animation-name: moveX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img-animacao.move-y-fast {
    animation-name: moveYfast;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img-animacao.move-diagonal {
    animation-name: moveDiagonal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.img-animacao.move-zoom {
    animation-name: moveZoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.digitando {
    border-right: 2px solid var(--font-dark);
    display: inline-block;
    padding-right: 1%;
    white-space: nowrap;
    max-width: 0;
    overflow: hidden;
    animation: pisca normal infinite .8s, escrever 2s steps(9) both;
}

@keyframes pisca {
    100% {
        border-right-color: transparent;
    }
}

@keyframes escrever {
    100% {
        max-width: 100%;
    }
}

.onda {
    background-size: cover;
    min-height: 250px;
    background-image: url('../image/onda_branca.svg');
    background-repeat: repeat-x;
    animation: move-wave 10s linear infinite;
    background-color: var(--primary-dark-hover)
  }
  
  @keyframes move-wave {
    from {
      background-position-x: 100%; /* posição inicial da imagem de fundo */
    }
    to {
      background-position-x: 0; /* posição final da imagem de fundo */
    }
  }
  
  


  