:root {
    --color-primary: rgb(0, 65, 150);
    --color-secondary: rgb(162, 202, 255);
    --color-dark: rgb(17, 17, 17);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1rem;
    padding: auto 0 !important;
    margin: auto 0;
}

#corpo {
    margin-right: 20% !important;
}

.container-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container-absolute p,
.container-absolute span {
    font-size: 1vw;
}

.container-absolute .title {
    font-size: 2.2vw;
    font-weight: 700;
    text-transform: capitalize;
}

.parent {
    flex-direction: column;
    display: flex;
    height: 100%;
    justify-content: center;
}

/* UTILITARIOS */

.bold {
    font-weight: 700;
}

.pb-10 {
    padding-bottom: 10%;
}

.z-5 {
    z-index: 5;
}

/* SIDEBAR */

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #f8f9fa !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidebar-btn {
    color: transparent !important;
    position: fixed !important;
    z-index: 6;
    right: 0;
}

.link-capitulo {
    color: var(--color-dark) !important;
    border-radius: 15px;
}

.link-capitulo:hover {
    background-color: var(--color-secondary) !important;
    border-radius: 15px;
}

/* MEDIA */


.pt-section-1{
    padding-top: 1vw;
}

.pointer {
    cursor: pointer;
}

#span_capitulo_1 {
    max-width: 5.5vw;
}

#span_titulo_1 {
    max-width: 30vw;
}

@media (max-width: 992px) {
    #corpo {
        margin-right: 0 !important;
    }

    .container-absolute p,
    .container-absolute span {
        font-size: 1.5vw;
    }

    .container-absolute .title {
        font-size: 2.5vw;
        font-weight: 700;
        text-transform: capitalize;
    }

    #span_capitulo_1 {
        max-width: 8vw;
    }

    #span_titulo_1 {
        max-width: 34vw;
    }  
}

@media screen and (max-width: 768px) {
    .container-absolute p,
    .container-absolute span {
        font-size: 2.0vw;
    }

    .container-absolute .title {
        font-size: 3vw;
        font-weight: 700;
        text-transform: capitalize;
    }

    .pt-section-1{
        padding-top: 10vw;
    }

    #span_capitulo_1 {
        max-width: 11vw;
    }

    #span_titulo_1 {
        max-width: 41vw;
    }  
}


@media screen and (max-width: 600px) {

    .container-absolute p,
    .container-absolute span {
        font-size: 2.4vw;
        margin-bottom: 1%;
    }

    .container-absolute .title {
        font-size: 3vw;
        font-weight: 700;
        text-transform: capitalize;
    }

    #span_capitulo_1 {
        max-width: 14vw;
    }

    #span_titulo_1 {
        max-width: 43vw;
    }    
    
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 1200px) {}

@media (min-width: 992px) {
    .sidenav {
        width: 20% !important;
        padding-top: 0px !important;
    } 
    .btn-sidebar {
        display: none;
    }
}

[data-md-tooltip] {
position: relative;
}

[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: 2vw;
    left: 50%;
    padding: 1vw;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: #fc646c;
    color: white;
    border-radius: 1vw;
    font-size: 1vw;
    font-weight: 400;
    width: 20vw;
}

[data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
}
